/* GLOBAL STYLES
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    background-image: url(assets/pexels-photo-302663-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#titlenav {
    font-family: "Courier New", "Courier", monospace;
    font-size: 30px;
    color: white;
    font-weight: 550;
    font-variant: small-caps;
    
    padding-left: 10px;
}



#mynavbar {
    height: 75px;
    background-color:rgba(0,0,0,0.5);
}


/* FOOTER FORMAT */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: black;
}

#footerfont {
    font-family: "Courier New", "Courier", monospace;
    font-size: 16px;
    color: white;
    font-weight: 450;
    font-variant: small-caps;
    
    float:left;
    width: 50%;
    
    padding-top: 5px;
    padding-bottom: 5px;
    
    padding-left: 25px;
    padding-right: 25px;
}

.textright {
    text-align: right;
}

@media (max-width:600px) {
    #footerfont {
        width: 100%;
    }
    
    .textright {
        text-align: left;
    }
}

