/* --- GLOBAL STYLES --- */
body {
    font: 400 16px/1.8 Lato, sans-serif;
    color: #FFF; /* Light Blue */
    background-color: #659DBD;
    /* background-color: #FBEEC1; */ /* Beige */
}

body > .container {
    padding: 80px 20px 0px 20px;
}

h3 {
    margin: 10px 0 15px 0;
    letter-spacing: 5px;
    font-size: 20px;
}


/* --- CUSTOM STYLES --- */
/* Footer styling */
footer {
    /* Vertically centre the text */
    line-height: 50px;
    background-color: #2D2D30;
    padding: 14px 0;
}

footer > .container {
    padding-right: 20px;
    padding-left: 20px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

@media (max-width: 991.98px) {
  .footer-left {
    text-align: center;
  }
  .footer-right {
    text-align: center;
  }
}

.footer-text {
  color: #fff;
}

.footer-text:hover {
  color: #89CFF0;
}

/* Navigation bar styles */
.navbar {
      font-family: Montserrat, sans-serif;
      background-color: #FFF;
      letter-spacing: 4px;
      padding-right: 40px;
      padding-left: 40px;
      font-weight: bold;
}
.navbar-brand {
      font-size: 30px;
      letter-spacing: 8px;
}

/* Override bootstrap 4 colors */
/* .nav-link {
  color: black !important;
}
.nav-link:hover {
  color: rgb(64,64,64) !important;
} */
.nav-item > .active {
  color: rgb(170, 3, 9) !important;
}

@media (max-width: 575.98px) {
  .navbar-brand {
    font-size: 24px;
    letter-spacing: 2px;
  }

  .navbar-brand > img {
    width: 60px;
    height: 30px;
  }

  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
}
