#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 4%; /* Place the button at the bottom of the page */
  right: 9%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f9e5e8; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px 25px 8px 25px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  font-family: 'Poiret One', cursive;
  font-weight: 600;
}

#myBtn:hover {
  background-color: #d8c5c8; /* Add a dark-grey background on hover */
}
